<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Bonbon|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
 <body>
    <div class="jumbotron text-center mb-0">
        <h1>Burger Time!</h1>
    </div>
    <div id="appArea">
        <div class="container p-3">
            {{{body}}}
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-6 text-center">
            <button id="resetButton" class="btn btn-danger" type="button">Clear</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
 </body>
</html>









